<a href="https://colab.research.google.com/github/238w1a02a7-crypto/basic-python-programing/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#print name
print("chandu")

chandu

In [4]:
#using input fun
s=input("enter your name")
print(s)

enter your namechandu
chandu

In [5]:
#print full name
a=input("enter the first name")
b=input("enter the second name")
c=a+b
print(c)

enter the first namechandu
enter the second namemanoj
chandumanoj

In [6]:
#sum of two numbers
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
c

enter the first number5
enter the second number8

13

In [7]:
#swap two numbers without 3rd variable
a=int(input("enter the first number"))
b=int(input("enter the second number"))
a=a+b
b=a-b
a=a-b
print(a,b)

enter the first number6
enter the second number8
8 6

In [8]:
#to print primitive datatypes
a=5
b=1.4
c=True
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [9]:
#to print non-primitive datatypes
a=(1,2,3)
b=[1,2,3]
c={1,2,3,4,5}
d={1:"a",2:"b"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [10]:
a=int(input("enter the number"))
print(a**2)

enter the number6
36

In [11]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
print((a+b+c)//3)

enter the first number3
enter the second number3
enter the third number5
3

In [13]:
# Program to multiply input by 10

num = int(input("Enter a number: "))
result = num * 10
print("Result after multiplying by 10:", result)

Enter a number: 6
Result after multiplying by 10: 60

In [14]:
# Program to convert minutes to seconds

minutes = int(input("Enter time in minutes: "))
seconds = minutes * 60
print(minutes, "minutes =", seconds, "seconds")

Enter time in minutes: 55
55 minutes = 3300 seconds

In [15]:
# Program to find largest of three numbers

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

largest = max(a, b, c)
print("The largest number is:", largest)

Enter first number: 2
Enter second number: 99
Enter third number: 9
The largest number is: 99.0

In [16]:
# Program to find sum of first n natural, even, and odd numbers

n = int(input("Enter a positive integer: "))

Enter a positive integer: 4

In [25]:
# Sum of first n odd numbers: 1 + 3 + 5 + ... + (2n-1) = n^2
sum_odd = n * n

print("Sum of first", n, "natural numbers:", sum_natural)
print("Sum of first", n, "even numbers:", sum_even)
print("Sum of first", n, "odd numbers:", sum_odd)

Sum of first 4 natural numbers: 10
Sum of first 4 even numbers: 20
Sum of first 4 odd numbers: 16

In [26]:
# Program to check if number is positive, negative or zero

num = float(input("Enter a number: "))

if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number: 6
The number is Positive

In [27]:
# Program to check odd or even

num = int(input("Enter an integer: "))

if num % 2 == 0:
    print(num, "is Even")
else:
    print(num, "is Odd")

Enter an integer: 7
7 is Odd

In [29]:
# Program to check if number is divisible by 5 and 11

num = int(input("Enter an integer: "))

if num % 5 == 0 and num % 11 == 0:
    print(num, "is divisible by both 5 and 11")
else:
    print(num, "is NOT divisible by both 5 and 11")

Enter an integer: 6
6 is NOT divisible by both 5 and 11

In [30]:
# Program to check grade using marks

marks = int(input("Enter your marks (0-100): "))

if marks >= 90:
    grade = "A+"
elif marks >= 80:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D"
elif marks >= 35:
    grade = "E"
else:
    grade = "F (Fail)"

print("Your Grade is:", grade)

Enter your marks (0-100): 93
Your Grade is: A+

In [31]:
# Program to check the day of the week

day = int(input("Enter a number (1-7): "))

if day == 1:
    print("Sunday")
elif day == 2:
    print("Monday")
elif day == 3:
    print("Tuesday")
elif day == 4:
    print("Wednesday")
elif day == 5:
    print("Thursday")
elif day == 6:
    print("Friday")
elif day == 7:
    print("Saturday")
else:
    print("Invalid input! Please enter a number between 1 and 7.")

Enter a number (1-7): 7
Saturday

In [32]:
# simple credential check
username = input("Enter username: ")
password = input("Enter password: ")

Enter username: chandu
Enter password: abc123

In [36]:
# hardcoded credentials
correct_user = "admin"
correct_pass = "password123"

if username == correct_user and password == correct_pass:
    print("Login successful ✅")
else:
    print("Login failed — invalid username or password ❌")

Login failed — invalid username or password ❌

In [37]:
# Simple Arithmetic Program

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number: 6
Enter second number: 8
Addition: 14
Subtraction: -2
Multiplication: 48
Division: 0.75

In [38]:
# Program to check number of days in a month

month = int(input("Enter month number (1-12): "))

if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
    print("31 days")
elif month == 4 or month == 6 or month == 9 or month == 11:
    print("30 days")
elif month == 2:
    print("28 or 29 days (February)")
else:
    print("Invalid month number! Please enter between 1 and 12.")

Enter month number (1-12): 7
31 days

In [40]:
# Program to check body temperature

temp = float(input("Enter your body temperature in °C: "))

if temp >= 37.5:
    print("You have Fever 🤒")
elif 36.0 <= temp < 37.5:
    print("Your temperature is Normal 🙂")
else:
    print("You feel Cold 🥶")

Enter your body temperature in °C: 37
Your temperature is Normal 🙂

In [42]:
# Test cases
print("Test case 1: m=2, n=6 →", sum_of_cubes(2, 6))
print("Test case 2: m=4, n=4 →", sum_of_cubes(4, 4))
print("Test case 3: m=7, n=2 →", sum_of_cubes(7, 2))

Test case 1: m=2, n=6 → 440
Test case 2: m=4, n=4 → 64
Invalid range! m should be <= n
Test case 3: m=7, n=2 → 0